<nav [hidden]="!isLoggedIn() || (router.isActive('/login') || router.isActive('/register') || router.isActive('/404'))" class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a routerLinkActive="active" routerLink="/home" type="button" class="btn btn-default navbar-btn">
    <span class="glyphicon glyphicon-home"></span> Home</a>
    <a routerLink="/car-search" type="button" class="btn btn-default navbar-btn">
      <span class="glyphicon glyphicon-search"></span> Search Cars</a>
    <a routerLink="/my-cars" type="button" class="btn btn-default navbar-btn">
      <span class="glyphicon glyphicon-star-empty"></span> My Rented Cars</a>
  </div>
  <div class="navbar-right right-float">
    <a routerLink="/logout" (click)="logOut()" type="button" class="btn btn-default navbar-btn right-pull">
      <span class="glyphicon glyphicon-log-out"></span> Log Out</a>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
