<h1>Search Cars</h1>

  <label>Name</label>

  <div class = "form-group">
  <input [(ngModel)]="searchValue"
         name="searchValue">
  </div>
<div class = "form-group">
  <select #selectedValue>
    <option value="Model">Model</option>
    <option value="SeatNumber">Seatnumber</option>
    <option value="Transmission">Transmission</option>
    <option value="GasType">Gastype</option>
  </select>

  <div class="form-group">
    <button class="btn" (click)="search(selectedValue.value)">Search</button>
  </div>

  <div class="form-group">
    <button class="btn" (click)="findAll()">Show all</button>
  </div>

  <!--
  <table class="table table-striped">
    <tr *ngFor="let c of cars" [ngStyle]="{ 'background-color': (c == selectedCar) ? 'orange' : ''  }">
      <td>{{c.brand}}</td>
      <td>{{c.model}}</td>
      <td>{{c.kilometers}}</td>
      <td>{{c.seatNumber}}</td>
      <td>{{c.gasType}}</td>
      <td>{{c.horsePower}}</td>
      <td><a (click)="select(c)">Auswählen</a></td>
    </tr>
  </table>-->
  <div *ngFor="let c of cars" class="col-xs-12 col-lg-3 col-md-4 col-sm-6 ">
    <car-card
      [item]="c"
      [(selectedItem)]="selectedCar">
    </car-card>
  </div>

<pre>Warenkorb
------------------------
{{ selectedCar | json }}
</pre>
