<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rent-a-Car | Welcome!</title>
</head>
<body>
<h3>Welcome to the Rent-a-Car website!</h3>
<p>In order to be able to rent cars as well as manage your rented cars, you have to Login first!</p>
<a type="button" [routerLink]="['/login']" class="btn btn-success">Login</a>
<hr>
<p>New to this website? Then create a new account here!</p>
<a type="button" [routerLink]="['/register']" class="btn btn-info">Sign Up</a>

</body>
</html>
