<div class="container target">
  <div class="row">
    <div class="col-sm-10">
      <h1>Welcome, {{customerInfo.firstName}}</h1>
      <br>
    </div>
    <div class="col-sm-2"><img title="profile image" class="img-circle img-responsive" src="../../img/rent_a_car.jpg"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <ul class="list-group">
        <li class="list-group-item text-muted" contenteditable="false"><strong>Profile</strong></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Name</strong></span> {{customerInfo.lastName}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>First Name</strong></span> {{customerInfo.firstName}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>E-mail</strong></span> {{customerInfo.email}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Birthday</strong></span> {{customerInfo.birthDate}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Address </strong></span> {{customerInfo.address}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Driver License </strong></span> {{customerInfo.driverLicenseNumber}}</li>
      </ul>
      <button routerLink="/edit-customer" type="button" class="btn btn-success">Edit Informations</button>
    </div>

    <div class="col-sm-9" contenteditable="false" style="">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>{{customerInfo.firstName}}'s Rented Cars</strong></div>
        <table class="table">
          <thead>
          <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Kilometers</th>
            <th>Transmission</th>
            <th>Gas Type</th>
            <th>Horse Power</th>
            <th>Leased until</th>
            <th>Lease Time</th>
          </tr>
          </thead>
          <tbody>
          <tr class="success warning danger info">
            <td>Success</td>
            <td>Success</td>
            <td>Success</td>
            <td>Success</td>
            <td>Success</td>
            <td>Success</td>
            <td>Success</td>
            <td>Success</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
